@section=site guide
@heading=About the Mob Account
@header

<!-- This file is preprocessed by cgi/html.cgi -->


<p>The <tt>mob</tt> account (the name a tribute to the paper
<a href="http://www.dreamsongs.com/MobSoftware.html">Mob Software: The Erotic Life of Code</a>)
is.a way to enable <em>anonymous push access</em> for your project.
This is largely an experiment and may be scrapped in the future if
it will not get widespread use, but we think it's an interesting try.
The idea is to provide unmoderated <em>side</em> channel for random
contributors to work on a project, with similar rationale as
e.g. Wikipedia - that given enough interested people, the quality
will grow rapidly and occassional "vandalism" will get fixed quickly.
Of course this may not work nearly as well for software, but here
we are, to give it a try.</p>

<h2>For Repository Admins</h2>

<p>How it works? First, you need to add the <tt>mob</tt> user to the
list of users allowed to push in your project. <tt>mob</tt> is a
keyless, passwordless user that anyone can use to push, without
any special setup. <strong>But</strong> this does not mean that
your project is now in the hands of raging mindless mob! The <tt>mob</tt>
user has a special restriction: it can push only to an existing
<tt>mob</tt> branch. This means that the second step you need to take
is to create a <tt>mob</tt> branch in the repository (e.g.
<code>git checkout -b mob
	&amp;&amp; git push origin mob</code>). Then the <tt>mob</tt> user
will be able to push to this and only this branch, and it won't be
able to push whatsoever until you take the second step.</p>

<p>To sum it up: Anonymous pushes are allowed <em>only</em> to the <tt>mob</tt>
branch and <em>only</em> if you add a <tt>mob</tt> user and do an initial
pushout of the <tt>mob</tt> branch.</p>

<h2>For Users</h2>

<p>After cloning the repository, do <code>git checkout mob</code> to move to the
<tt>mob</tt> branch.</p>

<p><strong>Note that you are taking a huge security risk on yourself
	if you just blindly grab the mob branch and run it on your
	system.</strong></p>

<h2>For Developers</h2>

<p>Just commit on the <tt>mob</tt> branch you've checked out and
<code>git push</code> when the time is ripe. 
Have fun and enjoy, you are making the history!</p>
